{% extends 'admin/base.html' %}

{% set back_url = url_for('admin.article_list') %}

{% block admin_content %}
<h1 class="title is-1">Edit Article</h1>

<form id="article-form" submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.name.label(class_='label') }}
	<div class="control">
	    {{ form.name(class_='input') }}
	</div>
    </div>

    {{ form.content.label(class_='label') }}
    {{ form.content(id="editor") }}

    <div class="field">
	{{ form.owner.label(class_='label')}}
	<select id="owner" class="select2" name="owner" style="width: 20%">
	    {% for r in form.owner.choices %}
	    <option value="{{r[0]}}" {% if article.owner.id|string == r[0] %}selected{% endif %}>{{r[1]}}</option>
	    {% endfor %}
	</select>
    </div>
    <div class='field'>
	{{ form.topic.label(class_='label')}}
	<select id="topic" class="select2" name="topic" style="width: 20%">
	    {{ form.owner.label(class_='label')}}
	    {% for r in form.topic.choices %}
	    <option value="{{r[0]}}" {% if article.topic.id|string == r[0] %}selected{% endif %}>{{r[1]}}</option>
	    {% endfor %}
	</select>
    </div>
    
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
    <a href="{{url_for('admin.article_delete', id=article.id)}}" class="button is-danger">
	Delete
    </a>

</form>

{% endblock %}
