{% extends 'admin/base.html' %}

{% block admin_content %}
<h1 class="title">Edit Task</h1>
<h3 class="title is-3">Task Details</h3>
<form id="assignment-form" submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.subject.label(class_='label') }}
	<div class="control">
	    {{ form.subject(class_='input') }}
	</div>
    </div>

    {{ form.content(id="editor") }}
    <br />
    <div class="field">
	{{ form.due.label(class_='label') }}
	<div class="control">
	{{ form.due(class_='input') }}
	</div>
    </div>
    <br />
    <h3 class="title is-3">Assigned To</h3>
    <div class="field">
	{{ form.assigned_roles.label(class_='label') }}
	<select id="assigned_roles" class="select2" name="assigned_roles" multiple="multiple" style="width: 100%">
	    {% for r in form.assigned_roles.choices %}
		<option value="{{r[0]}}" {% if r[1] in selected_roles %}selected="selected"{% endif %}>{{r[1] | capitalize}}</option>
	    {% endfor %}
	</select>
    </div>
    <div class="field">
	{{ form.assigned_users.label(class_='label') }}
	<select id="assigned_users" class="select2" name="assigned_users" multiple="multiple" style="width: 100%">
	    {% for r in form.assigned_users.choices %}
		<option value="{{r[0]}}" {% if r[1] in selected_users %}selected="selected"{% endif %}>{{r[1]}}</option>
	    {% endfor %}
	</select>
    </div>

    <br />
    <div class="field">
	<div class="control">
	    {{ form.task.hidden_tag() }}
	    {{ form.task.notification_dates.label(class_='label') }}
	    <input type='hidden' id="task-notification_dates" name="task-notification_dates"  />
	    <script>
		var selectedDateStrings = {{selected_dates|tojson}};
		var datePickerSelector = "#task-notification_dates";
		var maxDateSelector = "#due";
	    </script>
	</div>
    </div>

    <br />
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
    <a href="{{url_for('admin.assignment_publish', id=assignment.id)}}" id="publish" class="button is-success" tooltip="Please save your changes first">
	Publish
    </a>
    <a href="{{url_for('admin.assignment_delete', id=assignment.id)}}" class="button is-danger">
	Delete
    </a>
</form>



{% endblock %}
