{% extends 'admin/base.html' %}
{% block admin_content %}

<h1 class="title is-1"> Tasks </h1>

<a href="{{url_for('admin.assignment_new')}}" class="button is-primary">
    New
</a>
<br />
<br />
<br />
<br />

<h2 class="title is-2"> Drafts    </h2>
<table class="table">
    <thead>
	<tr>
	    <th>Subject</th>
	    <th>Due</th>
	</tr>
    </thead>
    <tbody>
	{% for assignment in assignments %}    
	{% if assignment.is_draft  %}
	<tr>
	    <td>
		<a href="{{url_for('admin.assignment_edit', id=assignment.id)}}">
			{{assignment.subject}}
		</a>
	    </td>
	    <td>
		{{assignment.due|localize|format}}
	    </td>
	</tr>
	{% endif %}
	{% endfor %}
    </tbody>
</table>

<br />
<br />
<br />
<br />

<h2 class="title is-2"> Published </h2>
<table class="table">
    <thead>
	<tr>
	    <th>Subject</th>
	    <th>Due</th>
	    <th>Number Assigned</th>
	    <th>Number Seen</th>
	    <th>Number Completed</th>
	</tr>
    </thead>
    <tbody>
	{% for assignment in assignments %}    
	{% if not assignment.is_draft %}
	<tr>
	    <td>
		<a href="{{url_for('admin.assignment_edit', id=assignment.id)}}">
			{{assignment.subject}}
		</a>
	    </td>
	    <td>
		{{assignment.due|localize|format}}
	    </td>
	    <td class="has-text-centered">
		{{assignment.number_assigned}}
	    </td>
	    <td class="has-text-centered">
		{{assignment.number_seen}}
	    </td>
	    <td class="has-text-centered">
		{{assignment.number_completed}}
	    </td>
	</tr>
	{% endif %}
	{% endfor %}
    </tbody>
</table>

{% endblock %}
