{% extends 'admin/base.html' %}

{% block admin_content %}
<div class="level">
    <div class="level-left">
	<h1 class="title level-item">Task Info</h1>
    </div>

    <div class="level-right">
	{% if assignment.due > now %}
	<div class="level-item button is-outlined is-success">
	    In Progress
	</div>
	{% else %}
	<div class="level-item button is-outlined is-danger">
	    Past Due
	</div>
	{% endif %}
    </div>
</div>

<h5 class="title is-5">Subject</h5>
<p>{{assignment.subject}}</p>
<br />

<h5 class="title is-5">Due Date</h5>
<p>{{assignment.due.strftime('%a %B %d')}}</p>
<br />


<h5 class="title is-5">Content</h5>
<div class="content is-medium" id="content-div" style="border: 1px solid gray; padding: 20px"></div>
<script>
    var md = window.markdownit();
    var input = {{assignment.content|tojson}};
    var result = md.render(input);
    $('#content-div').html(result);
</script>

<br />
<h5 class="title is-5">Assigned Users</h5>
<table class="table">
    <thead>
	<th>User Name</th>
	<th>Seen?</th>
	<th>Completed?</th>
    </thead>
    <tbody>
	{% for user in assigned_users %}
	<tr>
	    <td>
		<a href="{{url_for('admin.user_info', id=user.id)}}">
		    {{user.first_name}} {{user.last_name}}
		</a>
	    </td>
	    <td>{% if user.assigned_assignments[0].seen      %}{{user.assigned_assignments[0].seen.strftime('%m/%d/%Y %H:%M')}}{% else %}No{% endif %}</td>
	    <td>{% if user.assigned_assignments[0].completed %}Yes{% else %}No{% endif %}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

<a href="{{url_for('admin.assignment_delete', id=assignment.id)}}" class="button is-danger">
    Delete
</a>
<a href="{{url_for('admin.assignment_duplicate', id=assignment.id)}}" class="button is-primary">
    Make a Copy
</a>

{% endblock %}
