{% extends 'admin/base.html' %}

{% block admin_content %}
<h1 class="title is-1">Attendance Statistics</h1>

<br />

<h1 class="title is-1 has-text-centered">At a Glance</h1>

<br />
<br />
<br />

<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading is-size-2">Total Hours</p>
      <p class="title is-size-2">{{total_hours|round}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading is-size-2">Hours in past Week</p>
      <p class="title is-size-2">{{hours_last_week|round}}</p>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading is-size-3">Events</p>
      <p class="title is-size-3">{{total_events}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading is-size-3">Users</p>
      <p class="title is-size-3">{{total_users}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading is-size-3">Average Time at Event</p>
      <p class="title is-size-3">{{average_time_at_event|round(precision=1)}}</p>
    </div>
  </div>
</div>

<br />
<br />
<div class="is-divider" ></div>
<br />
<br />

<h1 class="title is-1">Hours over Time</h1>
<form id="filter-form" submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="field">
	{{ form.filter_by.label(class_='label is-size-4') }}
	<span id="filter-form_by" class="is-size-4">
	    <select id="filter_by" class="select2" name="filter_by" style="width: 20%">
		{% for r in form.filter_by.choices %}
		<option value="{{r[0]}}" {% if selected_by == r[0] %}selected{% endif %}>{{r[1]}}</option>
		{% endfor %}
	    </select>
	</span>
	<span id="filter-form_role" class="is-size-4">
	    <select id="filter_role" class="select2" name="filter_role" style="width: 20%">
		{% for r in form.filter_role.choices %}
		    <option value="{{r[0]}}" {% if selected_role == r[0] %}selected{% endif %}>{{r[1] | capitalize}}</option>
		{% endfor %}
	    </select>
	</span>
	<span id="filter-form_user" class="is-size-4">
	    <select id="filter_user" class="select2" name="filter_user" style="width: 20%">
		{% for r in form.filter_user.choices %}
		    <option value="{{r[0]}}" {% if selected_user == r[0] %}selected{% endif %}>{{r[1]}}</option>
		{% endfor %}
	    </select>
	</span>
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Update">
    </div>
</form>

<script>
    $(document).ready(function() {
	$('#filter_by').change(function() {
	    var selectedOptionName = this.options[this.value].innerHTML;
	    $('#filter-form_user').hide();
	    $('#filter-form_role').hide();
	    if( selectedOptionName == 'User' ) {
		$("#filter-form_user").show();
	    } else if( selectedOptionName == 'Role' ) {
		$("#filter-form_role").show();
	    }
	});
	$('#filter_by').trigger('change');
	unsaved = false;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<canvas id="canvas"></canvas>

<br />
<br />
<br />

<h1 class="title is-1">Data Export</h1>
<p class="is-size-5">
Not the statistics you wanted? Download your data here and play around with it on your own.
</p>

<br />
<br />
<br />
<a href="{{ team_url_for('admin.attendance_download_csv') }}" class="button is-large" download>Download CSV</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script>
window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

var config = {
    type: 'line',
    data: {
	labels: {{labels|tojson}},
	datasets: [{
	    label: 'Data',
	    backgroundColor: window.chartColors.red,
	    borderColor: window.chartColors.red,
	    data: {{values|tojson}},
	    fill: false,
	}]
    },
    options: {
	responsive: true,
	title: {
	    display: true,
	    text: 'Attendance Over Time'
	},
	tooltips: {
	    mode: 'index',
	    intersect: false,
	},
	hover: {
	    mode: 'nearest',
	    intersect: true
	},
	scales: {
	    xAxes: [{
		display: true,
		scaleLabel: {
		    display: true,
		    labelString: 'Date'
		}
	    }],
	    yAxes: [{
		display: true,
		scaleLabel: {
		    display: true,
		    labelString: 'Total Attendance (Minutes)'
		},
		ticks: {
		    beginAtZero: true
		}
	    }]
	}
    }
};

window.onload = function() {
    var ctx = $('#canvas')[0].getContext('2d');
    window.myLine = new Chart(ctx, config);
};

</script>
{% endblock %}
