{% extends 'base.html' %}

{% block title %}
<title>Admin - Team Captain</title>
{% endblock %}

{% block nav %}
<div class="navbar is-danger">
    <div class="navbar-menu is-active">
	<div class="navbar-brand">
	    <a href="{{ team_url_for('team.user_profile') }}" class="navbar-item has-text-weight-bold">
		<span class="icon">
		    <i class="fas fa-home"></i>
		</span>
		<span style="margin-left: 5px; margin-top: 3px">
		    {{g.team.name}}
		</span>
	    </a>
	</div>
	<div class="navbar-start">
	    <a href="{{team_url_for('admin.team_settings')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/settings') }}">
		Team Settings
	    </a>
	    <a href="{{team_url_for('admin.user_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/user') }}">
		Users
	    </a>
	    <a href="{{team_url_for('admin.role_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/role') }}">
		Roles
	    </a>
	    <a href="{{team_url_for('admin.attendance_graphs')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/attendance') }}">
		Attendance
	    </a>
	    <a href="{{team_url_for('admin.debug_tools')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/debug') }}">
		Debug Tools
	    </a>
	</div>
	<div class="navbar-end">
	    <div class="navbar-item">
		{% if current_user.first_name %}
		Welcome {{current_user.first_name}}
		{% else %}
		Welcome {{current_user.email[:current_user.email.find('@')]}}!
		{% endif %}
	    </div>
	    <div class="navbar-item">
		<a href="{{team_url_for('logout')}}">
		    <button class="button is-link">
			Sign Out
		    </button>
		</a>
	    </div>
	</div>
    </div>
</div>
{% endblock %}

{% block content %}
{% block admin_content %}{% endblock %}
{% endblock %}
