{% extends 'base.html' %}

{% block title %}
<title>Admin - Team Captain</title>
{% endblock %}

{% block nav %}
<div class="navbar is-info">
    <div class="navbar-menu is-active">
	<div class="navbar-brand">
	    <div class="navbar-item">
		<div class="button is-danger">
		    Admin Console
		</div>
	    </div>
	</div>
	<div class="navbar-start">
	    <a href="{{url_for('admin.user_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/user') }}">
		Users
	    </a>
	    <a href="{{url_for('admin.event_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/event') }}">
		Events
	    </a>
	    <a href="{{url_for('admin.assignment_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/assignment') }}">
		Assignments
	    </a>
	    <a href="{{url_for('admin.role_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/role') }}">
		Roles
	    </a>
	    <a href="{{url_for('admin.debug_tools')}}" class="navbar-item {{ "is-active" if request.path.startswith('/admin/debug') }}">
		Debug Tools
	    </a>
	</div>
	<div class="navbar-end">
	    <div class="navbar-item">
		{% if current_user.first_name %}
		Welcome {{current_user.first_name}}
		{% else %}
		Welcome {{current_user.email[:current_user.email.find('@')]}}!
		{% endif %}
	    </div>
	    <div class="navbar-item">
		<a href="{{url_for('logout')}}">
		    <button class="button is-link">
			Sign Out
		    </button>
		</a>
	    </div>
	</div>
    </div>
</div>
{% endblock %}

{% block content %}
{% block admin_content %}{% endblock %}
{% endblock %}
