{% import 'helpers.html' as helpers %}
{% extends 'admin/base.html' %}

{% block admin_content %}
<h1 class="title is-1">Event Info</h1>
<br />

<h5 class="title is-5">Name</h5>
<p>{{event.name}}</p>
<br />

<h5 class="title is-5">Dates</h5>
<table class="table is-hoverable">
    <thead>
	<th>Date</th>
	<th>Time</th>
	<th>Status</th>
    </thead>
    <tbody>
	{% for e in event.events %}
	<tr {{helpers.onclick(url_for('admin.recurring_event_subevent_view', id=event.id, eid=e.id))}}>
	    <td>
		{{e.start|localize|format("MM/DD/YY")}}
	    </td>
	    <td>
		{{e.start|localize|format("hh:mm A")}} - {{e.end|localize|format("hh:mm A")}}
	    </td>
	    <td>
		{% if e.start < now and e.end < now %}
		<div class="button is-danger">Past</div>
		{% elif e.start > now and e.end < now %}
		<div class="button is-warning">In Progress</div>
		{% else %}
		<div class="button is-success">Upcoming</div>
		{% endif %}
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

<br/>

<h5 class="title is-5">Visible To</h5>
{% for u in event.assigned_users %}
<button class="button is-rounded">{{ u.first_name }}&nbsp;{{ u.last_name }}</button>
{% endfor %}
<br/>
<br/>
<br/>

<a href="{{url_for('admin.recurring_event_delete', id=event.id)}}" class="button is-danger">Delete</a>
{% endblock %}
