{% extends 'admin/base.html' %}
{% block admin_content %}
<h1 class="title"> Roles </h1>
<table class="table">
    <thead>
	<tr>
	    <th>Name</th>
	    <th>Delete</th>
	</tr>
    </thead>
    <tbody>
	{% for r in roles %}    
	<tr>
	    <td>
		{{r.name|capitalize}}
	    </td>
	    <td>
		<a href="{{url_for('admin.role_delete', id=r.id) if not r.name in protected_roles else '#'}}">
		    <button class="button is-primary" {% if r.name in protected_roles %}disabled{% endif %}>
	
			<span class="icon is-medium badge">
			    <i class="far fa-trash-alt"></i>
			</span>
		    </button>
		</a>
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

<form submit="return false;" action="{{ url_for('admin.role_new') }}" method="post">
    {{ role_form.hidden_tag() }}
    <div class="field">
	<span class="control">
	    {{ role_form.role(class_='input', style='width: 200px') }}
	</span>
	<input class="button is-primary" id="submit" name="submit" type="submit" value="Add">
    </div>
</form>
{% endblock %}
