{% extends 'admin/base.html' %}
{% block admin_content %}

<h1 class="title is-1">Team Settings</h1>

<form submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.name.label(class_='label') }}
	<div class="control">
	    {{ form.name(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.sub.label(class_='label') }}
	<div class="control">
	    {{ form.sub(class_='input', style='width: 20%') }} 
	    <span class="is-size-4">.teamcaptain.org</span>
	</div>
    </div>
    <div class="field">
	{{ form.number.label(class_='label') }}
	<div class="control">
	    {{ form.number(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.email_subdomain.label(class_='label') }}
	Use this if your team uses G-Suite and you would like your users to use thier G-Suite emails on Team Captain.
	<div class="control">
	    {{ form.email_subdomain(class_='input') }}
	</div>
    </div>
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
</form>

{% endblock %}
