{% extends 'admin/base.html' %}
{% block admin_content %}

<h1 class="title is-1">Team Settings</h1>

<form submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.name.label(class_='label') }}
	<div class="control">
	    {{ form.name(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.social_facebook.label(class_='label') }}
	<div class="control">
	    {{ form.social_facebook(class_='input') }}
	</div>
    </div>
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
</form>

{% endblock %}
