{% extends 'admin/base.html' %}

{% set back_url = url_for('admin.user_list') %}

{% block admin_content %}
<h1 class="title is-1">{{user.first_name}} {{user.last_name}}</h1>
<form submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.email.label(class_='label') }}
	<div class="control">
	    {{ form.email(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.first_name.label(class_='label') }}
	<div class="control">
	    {{ form.first_name(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.last_name.label(class_='label') }}
	<div class="control">
	{{ form.last_name(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.barcode.label(class_='label') }}
	<div class="control">
	{{ form.barcode(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.roles.label(class_='label') }}
	<select id="roles" class="select2" name="roles" multiple="multiple" style="width: 100%">
	    {% for r in form.roles.choices %}
		<option value="{{r[0]}}" {% if r[1] in selected_roles %}selected="selected"{% endif %}>{{r[1]}}</option>
	    {% endfor %}
	</select>
    </div>

    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
    <a href="{{url_for('admin.user_delete', id=user.id)}}" class="button is-danger">
	Delete
    </a>
</form>

{% endblock %}
