{% extends 'admin/base.html' %}
{% block admin_content %}


<h1 class="title is-1"> All Users </h1>
<table class="table">
    <thead>
	<tr>
	    <th>Email</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Barcode</th>
	    <th>Roles</th>
	</tr>
    </thead>
    <tbody>
	{% for user in users %}    
	<tr>
	    <td>
		<a href="{{url_for('admin.user_info', id=user.id)}}">
		    {{user.email}}
		</a>
	    </td>
	    <td>
		{{user.first_name}}
	    </td>
	    <td>
		{{user.last_name}}
	    </td>
	    <td>
		{{user.barcode}}
	    </td>
	    <td>
		{% for r in user.roles %}
		<div class="button is-rounded is-link">{{r.name | capitalize}}</div>
		{% endfor %}
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
