{% extends 'admin/base.html' %}

{% block admin_content %}
<h1 class="title">{{user.first_name}} {{user.last_name}}</h1>
<form submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.email.label(class_='label') }}
	<div class="control">
	    {{ form.email(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.first_name.label(class_='label') }}
	<div class="control">
	    {{ form.first_name(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.last_name.label(class_='label') }}
	<div class="control">
	{{ form.last_name(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.barcode.label(class_='label') }}
	<div class="control">
	{{ form.barcode(class_='input') }}
	</div>
    </div>

    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
</form>

<h4 class="title is-4">
    Roles
</h4>
{% for r in user.roles %}
<a class="button is-rounded is-link role-delete" href="{{ url_for('admin.remove_role', id=user.id, role=r)}}">
    <span>{{r | capitalize}}</span>
</a>
{% endfor %}
<form submit="return false;" action="{{ url_for('admin.add_role', id=user.id) }}" method="post">
    {{ role_form.hidden_tag() }}
    <div class="field">
	<span class="control">
	    {{ role_form.role(class_='input', style='width: 200px') }}
	</span>
	<input class="button is-primary" id="submit" name="submit" type="submit" value="Add">
    </div>
</form>

{% endblock %}
