{% extends 'admin/base.html' %}
{% block admin_content %}


<h1 class="title is-1"> All Users </h1>
<table class="table is-hoverable">
    <thead>
	<tr>
	    <th>Name</th>
	    <th>Email</th>
	    <th>Barcode</th>
	    <th>Roles</th>
	</tr>
    </thead>
    <tbody>
	{% for user in users %}    
	<tr {{helpers.onclick(team_url_for('admin.user_info', id=user.id))}}>
	    <td>
		{{user.name}}
	    </td>
	    <td>
		{{user.email}}
	    </td>
	    <td>
		{{user.barcode}}
	    </td>
	    <td>
		{% for r in user.roles %}
		<div class="button is-rounded has-text-white" style="background-color: {{r.color}}">{{r.name | capitalize}}</div>
		{% endfor %}
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

<h1 class="title is-1"> Join Requests </h1>
<table class="table">
    <thead>
	<tr>
	    <th>Email</th>
	    <th>Actions</th>
	</tr>
    </thead>
    <tbody>
	{% for user in unconfirmed_users %}
	<tr>
	    <td>{{user.email}}</td>
	    <td>
		<a href="{{team_url_for('admin.user_approve', id=user.id)}}" class="button is-success">Approve</a>
		<a href="{{team_url_for('admin.user_deny', id=user.id)}}" class="button is-danger">Deny</a>
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
