.role-delete:hover {
    color: red;
}
.role-delete:hover span {
    display:none;
}

.role-delete:hover:before {
    content:"Remove";
}

// Style select2 box
.select2-selection__choice {
    margin-bottom: 5px;
}

.navbar-notification {
    display: flex;
}
