<div>
    <div class="columns">
	<div class="column is-one-third">
	    <div class="field">
		{{ notifications_form.hidden_tag() }}
		<div class="control">
		    {{ notifications_form.notification_dates(type="hidden", class="datepicker-input") }}
		    <script>
			var selectedDateStrings = {{notifications_form.selected_dates|tojson}};
			var datePickerSelector = ".datepicker-input";
			var maxDateSelector = "{{max_date_selector}}";
		    </script>
		</div>
	    </div>
	</div>
	<div class="column">
	    <br />
	    <br />
	    <div class="field">
		{{ notifications_form.notify_by_app(class_='is-checkradio') }}
		{{ notifications_form.notify_by_app.label(class_='label') }}
	    </div>
	    <div class="field">
		{{ notifications_form.notify_by_email(class_='is-checkradio') }}
		{{ notifications_form.notify_by_email.label(class_='label') }}
	    </div>
	    <div class="field">
		{{ notifications_form.notify_by_push(class_='is-checkradio') }}
		{{ notifications_form.notify_by_push.label(class_='label') }}
	    </div>
	    <div class="field">
		{{ notifications_form.notify_by_phone(class_='is-checkradio') }}
		{{ notifications_form.notify_by_phone.label(class_='label') }}
	    </div>
	</div>
    </div>
</div>
