{% extends 'base.html' %}

{% block nav %}
<div class="navbar is-info">
    <div class="navbar-menu is-active">
	<div class="navbar-start">
	    <a href="#" class="navbar-item">
		Profile
	    </a>
	</div>
	<div class="navbar-end">
	    <div class="navbar-item">
		Welcome {{current_user.name}}
	    </div>
	    <div class="navbar-item">
		<a href="">
		    <button class="button is-link">
			Sign Out
		    </button>
		</a>
	    </div>
	</div>
    </div>
</div>
{% endblock %}

{% block content %}
{% block public_content %}{% endblock %}
{% endblock %}
