{% extends 'base.html' %}

{% block nav %}
<div class="navbar is-info">
    <div class="navbar-menu is-active">
	<div class="navbar-start">
	    <a href="{{url_for('public.user_profile')}}" class="navbar-item {{ "is-active" if request.path.startswith('/profile') }}">
		Profile
	    </a>
	    <a href="{{url_for('public.task_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/task') }}">
		Tasks
	    </a>
	    <a href="{{url_for('public.calendar_home')}}" class="navbar-item {{ "is-active" if request.path.startswith('/calendar') }}">
		Events
	    </a>
	    <a href="{{url_for('public.wiki_home')}}" class="navbar-item {{ "is-active" if request.path.startswith('/wiki') }}">
		Wiki
	    </a>
	    <a href="{{url_for('public.assignment_list')}}" class="navbar-item {{ "is-active" if request.path.startswith('/assignment') }}">
		Assignments
	    </a>
	</div>
	<div class="navbar-end">
	    <div id="notification-dropdown" class="navbar-item has-dropdown {% if session['open-notifications'] %}{{ session.pop('open-notifications') }} is-active{% endif %}">
		<a class="navbar-link is-arrowless " onclick="toggle_active('notification-dropdown')">
		    {% if current_user.notifications|length == 0 %}
		    <span class="icon is-medium badge">
		    {% else %}
		    <span class="icon is-medium badge has-badge-rounded is-badge-small" data-badge="{{current_user.notifications|length}}" style="margin-right: 4px">
		    {% endif %}
			<i class="fas fa-bell fa-lg"></i>
		    </span>
		</a>
		<div class="navbar-dropdown">
		    {% if current_user.notifications|length == 0 %}
		    	<a class="navbar-item">
			    All caught up!
			</a>
		    {% else %}
			{% for n in current_user.notifications %}
			    <div class="navbar-item tc-notification" >
				<a class="tc-notification__content" href="{{ url_for('public.notification_redirect', id=n.id) }}">
				    {{ n.text }}
				</a>
				<a href="{{ url_for('public.notification_dismiss', id=n.id )}}" class="tc-notification__dismiss">
				    <span class="icon is-medium badge">
					<i class="fas fa-minus-square fa-lg"></i>
				    </span>
				</a>
			    </div>
			{% endfor %}
		    {% endif %}
		</div>
	    </div>
	    <div class="navbar-item">
		{% if current_user.first_name %}
		Welcome {{current_user.first_name}}
		{% else %}
		Welcome {{current_user.email[:current_user.email.find('@')]}}!
		{% endif %}
	    </div>
	    <div class="navbar-item">
		<a href="{{url_for('logout')}}">
		    <button class="button is-link">
			Sign Out
		    </button>
		</a>
	    </div>
	</div>
    </div>
</div>
{% endblock %}

{% block content %}
{% block public_content %}{% endblock %}
{% endblock %}

