{% extends 'public/base.html' %}

{% block public_content %}
<h1 class="title">Events</h1>

<div class="level">
    <div class="level-left">
	{% for event in events %}
	<div class="card">
	    <div class="card-content">
		<div class="ssk-group ssk-rounded ssk-sm">
		    <a href="#" class="ssk ssk-twitter"></a>
		    <a href="#" class="ssk ssk-facebook"></a>
		    <a href="#" class="ssk ssk-google-plus"></a>
		    <a href="#" class="ssk ssk-pinterest"></a>
		    <a href="#" class="ssk ssk-tumblr"></a>
		</div>
	    </div>
	</div>
	{% endfor %}
    </div>
    <div class="level-right">
    </div>
</div>

{% endblock %}
