{% extends 'public/base.html' %}

{% block public_content %}

{# Large borders around the feed #}
<div style="margin-left: 120px; margin-right: 120px">

<br/>
<div class="card">
    <header class="card-header">
	<p class="card-header-title">
	  Make a post
	</p>
    </header>
    <div class="card-content">
	<form submit="return false;" action="" method="post">
	    {{ form.hidden_tag() }}
	    <div class="field">
		<div class="control">
		    {{ form.content(class_='textarea', rows="3", autofocus="True", placeholder="What's going on in your build space?") }}
		</div>
	    </div>
	    <button type="submit" class="button is-outlined is-primary" name="post" value="Post">
		Post
	    </button>
	    <button type="submit" class="button is-outlined is-primary" name="edit" style="margin-left: 15px" value="Edit">
		<span class="icon is-medium">
		    <i class="fas fa-image fa-lg"></i>
		</span>
		<span>
		    Add Photos
		</span>
	    </button>
	    <button type="submit" class="button is-outlined is-primary" name="edit" style="margin-left: 15px" value="Edit">
		<span class="icon is-medium">
		    <i class="fas fa-video"></i>
		</span>
		<span>
		    Add Videos
		</span>
	    </button>
	</form>
    </div>
</div>

</br>
</br>
</br>

{% for u in updates %}
<div class="card" style="margin-bottom: 20px">
    <div class="card-content">
	<div class="media">
	    <div class="media-left">
		<p class="image is-64x64">
		    <img src="{{u.owner.email | gravatar(size=64) }}" style="border-radius: 12%; border: 1px solid #ddd; padding: 10%"></img>
		</p>
	    </div>
	    <div class="media-content">
		<p class="is-size-5"><strong>{{u.owner.name}}</strong></p>
		<p>{{u.post_time|localize|format}}</p>
	    </div>
	    <div class="media-right">
		<a href="{{url_for('public.update_star', id=u.id)}}" {{helpers.fa_toggle_icon_style()}} >
		    {% if current_user in u.users_starred %}
		    <i class="fas fa-star fa-2x"></i>
		    {% else %}
		    <i class="far fa-star fa-2x"></i>
		    {% endif %}
		</a>
	    </div>
	</div>
	<div class="content">
	    {{u.content}}
	</div>
	{% if u.images|length > 0 %}
	<div class="galleria" style="height: 500px">
	    {% for i in u.images %}
	    <img src="{{i.public_url}}" width="{{i.width}}" height="{{i.height}}">
	    {% endfor %}
	</div>
	{% endif %}
	<div class="ssk-group ssk-rounded ssk-sm">
	    <a href="{{url_for('public.update_view', id=u.id)}}" class="ssk ssk-twitter"></a>
	    <a href="{{url_for('public.update_view', id=u.id)}}" class="ssk ssk-facebook"></a>
	    <a href="{{url_for('public.update_view', id=u.id)}}" class="ssk ssk-google-plus"></a>
	    <a href="{{url_for('public.update_view', id=u.id)}}" class="ssk ssk-pinterest"></a>
	    <a href="{{url_for('public.update_view', id=u.id)}}" class="ssk ssk-tumblr"></a>
	</div>
    </div>
</div>
{% endfor %}

</div>

{% endblock %}
