{% extends 'public/base.html' %}

{% block public_content %}
<h1 class="title is-1">{{recurring_event.name}}</h1>

<br />

<div class="content is-medium" id="content-div" style="border: 1px solid gray; padding: 20px"></div>
<script>
    var md = window.markdownit();
    var input = {{recurring_event.content|tojson}};
    var result = md.render(input);
    $('#content-div').html(result);
</script>

<h5 class="title is-5">Dates</h5>
<table class="table">
    <thead>
	<th>Date</th>
	<th>Time</th>
	{% if recurring_event.enable_rsvp %}
	<th>RSVP</th>
	{% endif %}
    </thead>
    <tbody>
	{% for eu in eu_list %}
	<tr>
	    <td>
		{{eu.event.start|localize|format("MM/DD/YY")}}
	    </td>
	    <td>
		{{eu.event.start|localize|format("hh:mm A")}} - {{eu.event.end|localize|format("hh:mm A")}}
	    </td>
	    {% if recurring_event.enable_rsvp %}
	    <td>
		<div class="rsvp-selector">
		    <a href="{{url_for('public.rsvp_for_event', id=eu.id, r='y')}}" class="button is-large is-success {% if not eu.rsvp == 'y' %}is-outlined{% endif %}">
			Yes
		    </a>
		    <a href="{{url_for('public.rsvp_for_event', id=eu.id, r='m')}}" class="button is-large is-warning {% if not eu.rsvp == 'm' %}is-outlined{% endif %}">
			Maybe
		    </a>
		    <a href="{{url_for('public.rsvp_for_event', id=eu.id, r='n')}}" class="button is-large is-danger {% if not eu.rsvp == 'n' %}is-outlined{% endif %}" >
			No
		    </a>
		</div>
	    </td>
	    {% endif %}
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
