{% extends 'admin/base.html' %}
{% block admin_content %}

<h1 class="title"> All Tasks </h1>

<table class="table is-hoverable">
    <thead>
	<tr>
	    <th>Subject</th>
	    <th>Due</th>
	    <th>Completed?</th>
	</tr>
    </thead>
    <tbody>
	{% for tu in tus %}    
	<tr onclick="window.location='{{url_for('public.task_info', id=tu.task.id)}}'">
	    <td>
		{{tu.task.subject}}
	    </td>
	    <td>
		{{tu.task.due.strftime('%a %B %d')}}
	    </td>
	    <td style="text-align: center">
		<div class="icon is-medium" style="display: inline-table;">
		    {% if tu.completed %}
		    <i class="far fa-check-square fa-lg"></i>
		    {% else %}
		    <i class="far fa-square fa-lg"></i>
		    {% endif %}
		</div>
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
