{% extends 'public/base.html' %}

{% block public_content %}
<h1 class="title">Edit Post</h1>

<form submit="return false;" action="" method="post" enctype="multipart/form-data" >
    {{ form.hidden_tag() }}
    <div class="field">
	{{ form.content.label(class_='label') }}
	<div class="control">
	{{ form.content(class_='textarea', rows="5") }}
	</div>
    </div>

    <div class="file has-name is-boxed">
	<label class="file-label">
	    {{ form.images(class_='file-input', multiple='True') }}
	    <span class="file-cta">
		<span class="file-icon">
		    <i class="fas fa-upload"></i>
		</span>
		<span class="file-label">
		    Add Images
		</span>
	    </span>
	</label>
    </div>

    <div class="list" id='fileList' style="width: 17%">
    </div>

    <br/>
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Post">
</form>

<script>
    $('#images').change(function(){
	var files = Array.from($(this)[0].files);
	var fileListElement = $("#fileList");
	fileListElement.empty();
	console.log(files.length);
	if(files.length > 0) {
		var fileIconElement = $(".file-icon").children();	
	    	fileIconElement.removeClass('fa-upload');
	    	fileIconElement.addClass('fa-check');
	    	var fileElement = $('.file');
	    	fileElement.addClass('is-success');
	} else {
		var fileIconElement = $(".file-icon").children();	
	    	fileIconElement.removeClass('fa-check');
	    	fileIconElement.addClass('fa-upload');
	    	var fileElement = $('.file');
	    	fileElement.removeClass('is-success');
	}
	files.forEach(function(e) {
	    fileListElement.append('<div class="list-item" style="overflow:hidden">' + e.name + '</div>');
	});
    });
</script>


{% endblock %}
