{% extends 'public/wiki/base.html' %}

{% block wiki_content %}
<div class="level">
    <div class="level-left">
	<h1 class="level-item title is-1">Edit Article</h1>
    </div>
    <div class="level-right">
	<a href="{{url_for('public.article_view', tid=article.topic.id, id=article.id)}}" class="level-item icon is-large">
	    <i class="fas fa-eye fa-2x"></i>
	</a>
    </div>
</div>

<form id="article-form" submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.name.label(class_='label') }}
	<div class="control">
	    {{ form.name(class_='input') }}
	</div>
    </div>

    {{ form.content.label(class_='label') }}
    {{ form.content(id="editor") }}
    
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
    <a href="{{url_for('public.article_delete', tid=article.topic.id, id=article.id)}}" class="button is-danger">
	Delete
    </a>

</form>

{% endblock %}
