{% extends 'public/calendar/event_base.html' %}

{% block event_content %}

<div class="level">
    <div class="level-left">
	<h1 class="title is-1">{{event.name}}</h1>
    </div>
    <div class="level-right">
	{% if calendar.permissions.check_editor(current_user) %}
	<a href="{{url_for('public.event_info', cid=calendar.id, id=event.id)}}" class="level-item button is-medium is-outlined is-success">
	    <span class="icon is-large">
		<i class="fas fa-pencil-alt fa-lg"></i>
	    </span>
	    <span class="is-size-4">
		Edit
	    </span>
	</a>
	{% endif %}
    </div>
</div>

<br />

<p class="is-size-4">
    {{event.start|localize|format('MM/DD/YYYY')}}
    <br />
    {{event.start|localize|format("hh:mm A")}} - {{event.end|localize|format("hh:mm A")}}
</p>
<br/>
<br/>

<div class="content is-medium" id="content-div" style="border: 1px solid gray; padding: 20px"></div>
<script>
    var md = window.markdownit();
    var input = {{event.content|tojson}};
    var result = md.render(input);
    $('#content-div').html(result);
</script>


<br />
<br />

<h3 class="title is-3">RSVP</h3>

<div class="rsvp-selector">
    <a href="{{url_for('public.event_rsvp', cid=calendar.id, id=event.id, r='y')}}" class="button is-large is-success {% if not eu.rsvp == 'y' %}is-outlined{% endif %}">
	Yes
    </a>
    <a href="{{url_for('public.event_rsvp', cid=calendar.id, id=event.id, r='m')}}" class="button is-large is-warning {% if not eu.rsvp == 'm' %}is-outlined{% endif %}">
	Maybe
    </a>
    <a href="{{url_for('public.event_rsvp', cid=calendar.id, id=event.id, r='n')}}" class="button is-large is-danger {% if not eu.rsvp == 'n' %}is-outlined{% endif %}" >
	No
    </a>
</div>

{% endblock %}
