{% extends 'public/calendar/event_base.html' %}

{% if event.recurrence %}
{% set up_url = url_for('public.recurring_event_info', cid=calendar.id, id=event.recurrence.id) %}
{% endif %}

{% block event_content %}


<div class="level">
    <div class="level-left">
	<h1 class="level-item title is-1">{{event.name}}{% if event.recurrence %} - {{event.start|localize|format('MM/DD')}} {% endif %}</h1>
    </div>
    <div class="level-right">
	{% if not event.recurrence %}
	<a href="{{url_for('public.scheduled_event_view', cid=calendar.id, id=event.id)}}" class="level-item button is-medium is-outlined is-success">
	    <span class="icon is-large">
		<i class="fas fa-eye fa-lg"></i>
	    </span>
	    <span class="is-size-4">
		View
	    </span>
	</a>
	{% endif %}
    </div>
</div>

<p class="is-size-5">
    {% if event.start < now and event.end < now %}
    Past
    {% elif event.start > now and event.end < now %}
    In Progress
    {% else %}
    Upcoming
    {% endif %}
</p>
<br />
<br />

<p class="is-size-5">
Start: {{event.start|localize|format}}
<br />
End: &nbsp;&nbsp;{{event.end|localize|format}}
<p>
<br />

<div class="content is-medium" id="content-div" style="border: 1px solid gray; padding: 20px"></div>
<script>
    var md = window.markdownit();
    var input = {{event.content|tojson|safe}};
    var result = md.render(input);
    $('#content-div').html(result);
</script>

{% if calendar.permissions.check_editor(current_user) %}
<h5 class="title is-5">Assigned Users</h5>
<table class="table">
    <thead>
	<th>User Name</th>
	{% if event.enable_rsvp %}
	<th>Seen RSVP</th>
	<th>RSVP</th>
	{% endif %}
	{% if event.enable_attendance %}
	<th>Sign In</th>
	<th>Sign Out</th>
	<th>Total Time</th>
	{% endif %}
    </thead>
    <tbody>
	{% for eu in event.users %}
	<tr>
	    <td>
		<a href="#">
		    {{eu.user.first_name}} {{eu.user.last_name}}
		</a>
	    </td>
	    {% if event.enable_rsvp %}
	    <td>
		No
	    </td>
	    <td>
		{% if eu.rsvp == 'y' %}
		Yes
		{% elif eu.rsvp == 'm' %}
		Maybe
		{% elif eu.rsvp == 'n' %}
		No
		{% else %}
		{% endif %}
	    </td>
	    {% endif %}
	    {% if event.enable_attendance %}
	    <td>
		{{ eu.sign_in |localize|format('hh:mm A') }}
		<a href="{{url_for('public.event_user_edit', cid=calendar.id, id=eu.id)}}" class="icon">
		    <i class="fas fa-pencil-alt"></i>
		</a>
	    </td>
	    <td>
		{{ eu.sign_out|localize|format('hh:mm A') }}
		<a href="{{url_for('public.event_user_edit', cid=calendar.id, id=eu.id)}}" class="icon">
		    <i class="fas fa-pencil-alt"></i>
		</a>
	    </td>
	    <td>
		{% if eu.sign_in and eu.sign_out %}
		    {{ (eu.sign_out - eu.sign_in).in_minutes() }} minutes
		{% endif %}
	    </td>
	    {% endif %}
	</tr>
	{% endfor %}
    </tbody>
</table>

<h5 class="title is-5">Actions</h5>
<a class="button is-primary " href="{{url_for('public.event_clockin', cid=calendar.id, id=event.id)}}" {% if now < event.start.subtract(hours=1) or now > event.end.add(hours=1) %}disabled{% endif %}>Go to Clock-In</a>

{% if not event.recurrence %}
<a href="{{url_for('public.scheduled_event_delete', cid=calendar.id, id=event.id)}}" class="button is-danger">Delete</a>
{% endif %}

{% endif %}

{% endblock %}
