{% import 'helpers.html' as helpers %}
{% extends 'public/base.html' %}

{% block public_content %}
<div class="level">
    <div class="level-left">
	<h1 class="title is-1">Recurring Event Info</h1>
    </div>
    <div class="level-right">
	{% if calendar.permissions.check_visible(current_user) %}
	<a href="{{url_for('public.recurring_event_view', cid=calendar.id, id=event.id)}}" class="level-item icon is-large">
	    <i class="fas fa-eye fa-2x"></i>
	</a>
	{% endif %}
    </div>
</div>
<br />

<h5 class="title is-5">Name</h5>
<p>{{event.name}}</p>
<br />

<h5 class="title is-5">Dates</h5>
<table class="table is-hoverable">
    <thead>
	<th>Date</th>
	<th>Time</th>
	<th>Status</th>
    </thead>
    <tbody>
	{% for e in subevents %}
	<tr {{helpers.onclick(url_for('public.event_info', cid=calendar.id, id=e.id))}}>
	    <td>
		{{e.start|localize|format("MM/DD/YY")}}
	    </td>
	    <td>
		{{e.start|localize|format("hh:mm A")}} - {{e.end|localize|format("hh:mm A")}}
	    </td>
	    <td>
		{% if e.start < now and e.end < now %}
		<div class="button is-danger">Past</div>
		{% elif e.start > now and e.end < now %}
		<div class="button is-warning">In Progress</div>
		{% else %}
		<div class="button is-success">Upcoming</div>
		{% endif %}
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

<br/>

<a href="{{url_for('public.recurring_event_delete', id=event.id)}}" class="button is-danger">Delete</a>
{% endblock %}
