{% extends 'team/calendar/event_base.html' %}

{% block event_content %}
<div class="level">
    <div class="level-left">
	<h1 class="level-item title is-1">{{event.name}}</h1>
    </div>
    <div class="level-right">
	{% if calendar.permissions.check_editor(current_user) %}
	<a href="{{url_for('team.recurring_event_info', cid=calendar.id, id=event.id)}}" class="level-item button is-medium is-outlined is-success">
	    <span class="icon is-large">
		<i class="fas fa-pencil-alt fa-lg"></i>
	    </span>
	    <span class="is-size-4">
		Edit
	    </span>
	</a>
	{% endif %}
    </div>
</div>

<br />

<div class="content is-medium" id="content-div" style="border: 1px solid gray; padding: 20px"></div>
<script>
    var md = window.markdownit();
    var input = {{event.content|tojson}};
    var result = md.render(input);
    $('#content-div').html(result);
</script>

<h5 class="title is-5">Dates</h5>
<table class="table">
    <thead>
	<th>Date</th>
	<th>Time</th>
	{% if event.enable_rsvp %}
	<th>RSVP</th>
	{% endif %}
    </thead>
    <tbody>
	{% for subevent in subevents %}
	<tr>
	    <td>
		{{subevent.start|localize|format("MM/DD/YY")}}
	    </td>
	    <td>
		{{subevent.start|localize|format("hh:mm A")}} - {{subevent.end|localize|format("hh:mm A")}}
	    </td>
	    {% if event.enable_rsvp %}
	    <td>
		<div class="rsvp-selector">
		    <a href="{{url_for('team.event_rsvp', cid=calendar.id, id=subevent.id, r='y')}}" class="button is-large is-success {% if not subevent.eu.rsvp == 'y' %}is-outlined{% endif %}">
			Yes
		    </a>
		    <a href="{{url_for('team.event_rsvp', cid=calendar.id, id=subevent.id, r='m')}}" class="button is-large is-warning {% if not subevent.eu.rsvp == 'm' %}is-outlined{% endif %}">
			Maybe
		    </a>
		    <a href="{{url_for('team.event_rsvp', cid=calendar.id, id=subevent.id, r='n')}}" class="button is-large is-danger {% if not subevent.eu.rsvp == 'n' %}is-outlined{% endif %}" >
			No
		    </a>
		</div>
	    </td>
	    {% endif %}
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
