#main-container {
    min-height: calc(100vh - #{$navbar-height});
    width: 100%;
}

.columns.is-fullheight {
    min-height: calc(100vh - ( #{$navbar-height} ) );
    max-height: calc(100vh - ( #{$navbar-height} ) );
    height: calc(100vh - ( #{$navbar-height} ) );
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    .column {
      overflow-y: auto;
    }
}

.is-sidebar-menu {
  padding: 2.5rem;
  background: $grey-dark;
  li {
      a {
	  color: $white;
      }
  }
}

.content-container {
    padding: 2.5rem;
}


body {
    display: flex;
    flex-direction: column;
}
