// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Import our color palette
@import 'palette';

// Assign color palette to bulma variables
$primary: $color1;
$link: $color2;
$info: $color3;
$success: $color4;

// Set our fonts

// Main font (for text)
$family-sans-serif: 'Open Sans', sans-serif;
$family-primary: $family-sans-serif;
// Secondary font (logo font, for titles)
$family-secondary: 'Arvo', serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
//$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// Shorter footer
$footer-padding: 1rem 1.5rem 1rem;

// Make hover on table a bit darker
$table-row-hover-background-color: hsl(0, 0%, 95%);

// Import the rest of Bulma
@import "bulma/bulma";
// Extensions
@import 'bulma-extensions/_all';

// Include our stuff
@import 'layout';
@import 'components/_all';
@import 'misc';
