// Style select2 box
.select2-selection__choice {
    margin-bottom: 5px;
}

.tc-notification {
  display: flex;
  justify-content: space-between;
}

.tc-notification__content {
  
}

.tc-notification__dismiss {
   margin-left: 5px;
}

// Make tables that are hoverable change mouse to pointer
table.is-hoverable:hover {
    cursor: pointer;
}

// Restyle easymde editor to have a smaller height
.CodeMirror,
.CodeMirror-scroll {
    max-height: 300px;
}

.hoverable {
    cursor: pointer;
}

.is-not-hoverable {
    pointer-events: none;
}

.background-image {
  margin-top: 200px;
  position: absolute;
  left: 0;
  right: 0;
}
