/* Coolors Exported Palette - coolors.co/5d2e8c-2ec4b6-ff5454-79e55b-f1e8b8 */

/* HSL */
$color1: hsla(270%, 51%, 36%, 1);
$color2: hsla(174%, 62%, 47%, 1);
$color3: hsla(0%, 100%, 66%, 1);
$color4: hsla(107%, 73%, 63%, 1);
$color5: hsla(51%, 67%, 83%, 1);

/* RGB */
$color1: rgba(93, 46, 140, 1);
$color2: rgba(46, 196, 182, 1);
$color3: rgba(255, 84, 84, 1);
$color4: rgba(121, 229, 91, 1);
$color5: rgba(241, 232, 184, 1);