{% extends 'team/base.html' %}
{% block team_content %}

<h1 class="title is-1"> My Tasks </h1>

{% if tasks|length > 0 %}
<table class="table is-hoverable">
    <thead>
	<tr>
	    <th>Completed?</th>
	</tr>
    </thead>
    <tbody>
	{% for task in tasks %}    
	<tr onclick="window.location='{{url_for('team.task_redirect', id=task.id)}}'">
	    <td style="text-align: center">
		<div class="icon is-medium" style="display: inline-table;">
		    {% if task.completed %}
		    <i class="far fa-check-square fa-lg"></i>
		    {% else %}
		    <i class="far fa-square fa-lg"></i>
		    {% endif %}
		</div>
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>
{% else %}
<h3 class="title is-3">
    No tasks right now!
</h3>
{% endif %}

{% endblock %}
