{% extends 'team/base.html' %}

{% block team_content %}
<h1 class="title is-1">User Profile</h1>

<article class="media is-size-5">
    <figure class="media-left">
	<p class="image is-128x128">
	<img src="{{current_user.email | gravatar(size=128) }}" style="border-radius: 12%; border: 1px solid #ddd; padding: 5%"></img>
	</p>
    </figure>
    <div class="media-content">
	<div class="content">
	    <p>
	    <strong>{{current_user.first_name}} {{current_user.last_name}}</strong>
	    <br>
	    <small>{{current_user.email}}</small>
	    {% if current_user.personal_email %}
	    <br>
	    <small>{{current_user.personal_email}}</small>
	    {% endif %}
	    {% if current_user.phone_number %}
	    <br>
	    <small>{{current_user.phone_number}}</small>
	    {% endif %}
	    </p>
	</div>
    </div>
</article>

<br />

<p class="is-size-5">
{{current_user.bio}}
</p>
<br />
<br />
<a class="button is-primary" href="{{ team_url_for('team.edit_profile') }}">
    Edit
</a>
<br />
<br />

<a class="button is-success" id="barcode-toggle">
    View Barcode
</a>
<br />
<br />
<br />
<img id="barcode" class="image"></img>

{# Barcode support #}
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
<script>
    var showBarcode = false;
    $(document).ready(function() {
	$("#barcode-toggle").on('click', () => { $("#barcode").toggle(); });
	$("#barcode").toggle();
	$("#barcode").JsBarcode("{{current_user.barcode}}",{
	    width:5,
	    height:60,
	});
    });
</script>
{% endblock %}
