{% extends 'team/base.html' %}
{% block team_content %}


<h1 class="title is-1"> All Users </h1>
<table class="table is-hoverable" style="width: 100%">
    <thead>
	<tr>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Email</th>
	    <th>Roles</th>
	</tr>
    </thead>
    <tbody>
	{% for user in users %}    
	<tr {{helpers.onclick(url_for('team.user_view', id=user.id))}}>
	    <td>
		{{user.first_name}}
	    </td>
	    <td>
		{{user.last_name}}
	    </td>
	    <td>
		{{user.email}}
	    </td>
	    <td>
		<ul style="list-style: disc outside none">
		{% for r in user.roles %}
		    <li>
			{{r.name | capitalize}}
		    </li>
		{% endfor %}
		</ul>
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
