{% extends 'team/calendar/event_base.html' %}

{% block event_content %}
<div class="level">
    <div class="level-left">
	<h1 class="level-item title is-1">Edit Calendar</h1>
    </div>
    <div class="level-right">
	<a href="{{team_url_for('team.calendar_view', id=calendar.id)}}" class="level-item button is-medium is-outlined is-success">
	    <span class="icon is-large">
		<i class="fas fa-eye fa-lg"></i>
	    </span>
	    <span class="is-size-4">
		View
	    </span>
	</a>
    </div>
</div>

<form id="calendar-form" submit="return false;" action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.name.label(class_='label') }}
	<div class="control">
	    {{ form.name(class_='input') }}
	</div>
    </div>

    <div class="field">
	{{ form.description.label(class_='label') }}
	<div class="control">
	    {{ form.description(class_='textarea') }}
	</div>
    </div>

    {# Render the permissions formfield #}
    <br />
    {% set editor_label = 'Editors' %}
    {% set visible_label = 'Visible to' %}
    {% include 'team/components/permissions_form.html' %}
    <br />
    
    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
    <a href="{{team_url_for('team.calendar_delete', id=calendar.id)}}" class="button is-danger">
	Delete
    </a>

</form>

{% endblock %}
