{% extends 'team/calendar/event_base.html' %}
{% set up_url = team_url_for('team.event_info', id=event.id, cid=calendar.id) %}

{% block event_content %}
<h1 class="title is-1">Edit Attendance for {{eu.user.first_name}} {{eu.user.last_name}}</h1>

<p class="is-size-4">
    Event Start: {{event.start|localize|format}}
    <br/>
    Event End: {{event.end|localize|format}}
</p>
<br/>

<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="field">
	{{ form.sign_in.label(class_='label') }}
	<div class="control">
	    {{ form.sign_in(class_='input') }}
	</div>
    </div>
    <div class="field">
	{{ form.sign_out.label(class_='label') }}
	<div class="control">
	    {{ form.sign_out(class_='input') }}
	</div>
    </div>

    <input class="button is-primary" id="submit" name="submit" type="submit" value="Save">
</form>
{% endblock %}
