{% extends 'base.html' %}

{% block content %}
<div class="title is-1 has-text-centered">
    <br/>
    <br/>
    <br/>
    Welcome to Team Captain!<br/> Let's get you a workspace.
</div>
<div class="columns is-centered">
    <div class="column is-three-quarters">
	<form id="create-team-form" submit="return false;" action="" method="post">
	    {{ form.hidden_tag() }}
	    <div class="field">
		{{ form.name.label(class_='label') }}
		<div class="control">
		    {{ form.name(class_='input') }}
		</div>
	    </div>
	    <div class="field">
		{{ form.sub.label(class_='label') }}
		<div class="control">
		    {{ form.sub(class_='input', style="width:50%") }}
		    <span class="is-size-4">
			.teamcaptain.org
		    </span>
		</div>
	    </div>
	    <div class="field">
		{{ form.number.label(class_='label') }}
		<div class="control">
		    {{ form.number(class_='input is-expanded', placeholder='Team Number') }}
		</div>
	    </div>
	    <br/>
	    <br/>
	    <div class="columns is-centered">
		<div class="column is-one-quarter">
		    <button class="button is-primary is-large" onclick="$(this).addClass('is-loading')" id="submit" name="submit" type="submit" >
			Let's Go!
		    </button>
		</div>
	    </div>
	</form>
    </div>
</div>
{% endblock %}
