{% extends 'base.html' %}
{% block content %}

<h1 class="title"> All Users </h1>
<table class="table">
    <thead>
	<tr>
	    <th>Email</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Barcode</th>
	</tr>
    </thead>
    <tbody>
	{% for user in users %}    
	<tr>
	    <td>
		<a href="{{url_for('user_info', id=user.id)}}">
		    {{user.email}}
		</a>
	    </td>
	    <td>
		{{user.first_name}}
	    </td>
	    <td>
		{{user.last_name}}
	    </td>
	    <td>
		{{user.barcode}}
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}
